@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300;1,400&family=Open+Sans&family=Poppins&family=Sansita&family=Work+Sans&display=swap');
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body{
    width: 100%;
    background-color: #f8f9fa;
}

#search-nav{
    height: 2rem;
    width: 20rem;
    margin-right: 2rem;

}
#search{
    margin-left: 18rem;
    background-color: #F1F7F7;
    border: solid rgb(201, 201, 201) 1px ;
    color: black;
}
#contain{
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}
#rows{
    height: 100%;
    margin: 0;
}
#aside{
    margin:0;
    height: 100%;
    border-right:solid #f0f0f0 1px;
   padding-top: 2rem;

}

.list ul{
    list-style: none;
    padding-left: 1rem;
}
.list ul li{
    margin-bottom: 2rem;
}
.list ul li a{
    text-decoration: none;
    color: black;}

.list-aside a:hover{
    background-color:#cee6e4 ;
}
.dash h1{
    margin-top: 2rem;
}
.first{
    color: #088178;
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
#sec-logo{
    font-size: 1.4rem;

}
.second{color: black;
}
#main{    margin:0;
    height: 100vh;
}
#btn-title{
    background-color: #f1f1f1;
    color: black;
}
#btn-title2{
    background-color:#088178;
    color: rgb(255, 255, 255);
}
#title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-left: 2rem;
}
.form{
    background-color: #ffffff;
    border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin: 2rem 2rem;
  padding: 2rem;
}
#flexRadioDefault2:checked {
    background-color: #198754;
    border-color: #198754;
}
