@import url('https://fonts.googleapis.com/css2?family=Lato&family=Open+Sans&family=Poppins&family=Sansita&family=Work+Sans&display=swap');
*{
    font-family: 'Lato', sans-serif;
box-sizing: border-box;
}
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
.contain{
    display:flex;
    width: 100%;
}
  .b-example-divider {
    width: 100%;
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }

  .b-example-vr {
    flex-shrink: 0;
    width: 1.5rem;
    height: 100vh;
  }

  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }

  .nav-scroller .nav {
    display: flex;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .btn-bd-primary {
    --bd-violet-bg: #712cf9;
    --bd-violet-rgb: 112.520718, 44.062154, 249.437846;

    --bs-btn-font-weight: 600;
    --bs-btn-color: var(--bs-white);
    --bs-btn-bg: var(--bd-violet-bg);
    --bs-btn-border-color: var(--bd-violet-bg);
    --bs-btn-hover-color: var(--bs-white);
    --bs-btn-hover-bg: #6528e0;
    --bs-btn-hover-border-color: #6528e0;
    --bs-btn-focus-shadow-rgb: var(--bd-violet-rgb);
    --bs-btn-active-color: var(--bs-btn-hover-color);
    --bs-btn-active-bg: #5a23c8;
    --bs-btn-active-border-color: #5a23c8;
  }
  .bd-mode-toggle {
    z-index: 1500;
  }
  .logo1{
    font-family: 4rem;
    color: #409B95;
    font-size: 1.5rem;
  }
  .logo2{
    color: #409B95;
  }
  .second{
    color: black;
  }
  #sidebar-body{
    background: #ffffff;
    border-right: 1px solid #EEEEEE;
    width: 15rem;
    padding: 2rem;
  }
  #side {
    background: #409B95;
    opacity: .5;
    width: 0.5rem;
}
#aside-bar{
    width: 10%;
        position: fixed;
        top: 3rem;
        bottom: 0;
        z-index: 9;
}
.courses-style{
  font-size: .9rem;
  list-style:disc;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
.courses-style li{
  font-size: .8rem;
  list-style:disc;
  margin-bottom: 1rem;
}
#aside-list{
  margin-bottom: 2rem;
}
.bi{
    color: #ADB5BD;
}
header{
    width: 100%;
}
.logo{
    margin-left: .1rem;
    font-family: 4rem;
    color: #409B95;
    font-size: 2rem;
}
#search-nav{
    width: 20rem;
    margin-left: 3rem;
}
#active-item{
    background-color: #409B95;
}
#search{
    --bs-btn-color:  #409B95;
    --bs-btn-border-color: #409B95;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #409B95;
    --bs-btn-hover-border-color:  #409B95;
    --bs-btn-focus-shadow-rgb: 25,135,84;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg:  #409B95;
    --bs-btn-active-border-color:  #409B95;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #409B95;
    --bs-btn-disabled-bg: transparent;
    --bs-btn-disabled-border-color:  #409B95;
    --bs-gradient: none;
}
.body{
    padding: 3rem;
    margin-left: 15rem;
    margin-top: 2rem;
    background: #F8F9FA;
    width:90%;
    color: #4F5D77;
}
.content-header{
    display: flex;
    justify-content: space-between;
    margin-left: 2rem;
}
header #nav-body{
    background-color: white;
    width: 100%;
    border: 1px solid #EEEEEE;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
#Create-report{
    background-color:  #409B95;
    border: 1px solid  #409B95;
    fill: #409B95;
}
.list ul{
    list-style: none;
    padding-left: 1rem;
}
.list ul li{
    margin-bottom: 2rem;
}
.list ul li a{
    text-decoration: none;
    color: black;}

.list-aside a:hover{
    background-color:#cee6e4 ;
}
.dash h1{
    margin-top: 2rem;
}
.first{
    color: #409B95;
    font-size: 2rem;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}
#sec-logo{
    font-size: 1.4rem;

}
.second{color: black;
}
#main{    margin:0;
    height: 100vh;
}
#btn-title{
    background-color: #f1f1f1;
    color: black;
}
#btn-title2{
    background-color:#409B95;
    color: rgb(255, 255, 255);
}
#title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    margin-left: 2rem;
}
.first-row-form{
    display: flex;
    justify-content: space-between;
}
#form-button{
        background-color:#409B95;
        color: rgb(255, 255, 255);
        text-align: center;
        margin-top: 2rem;
    }
    #card{
        background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    margin: 2rem;
    padding: 1rem;
    border-radius: 15px;
    padding-right: 1rem;
    text-align: center;
    }
    #forms-input .message{
        height:8rem;
    }
    #forms-input{
        margin-top: 2rem;
        background-color: white;
        border-radius: 15px;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        padding: 2rem;
        margin-bottom: 2rem;
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
}
